* {
  box-sizing: border-box;
}
body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #FAF8F0;
}
#fixed-header, #fixed-footer {
  width: 100%;
  position: fixed;
  text-align: center;        
  background: #8C7F56;
  padding: 10px 0;
  color: #fff;
}
#fixed-header {
  font-size: 2em;
  top: 0;
}
#fixed-footer {
  bottom: 0;
}
h2, h3 {
  text-align: center;
  margin-bottom: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
  text-decoration: underline;
}
p, ol, ul {
  font-size: 1em;
  line-height: 1.2em;
}
section {
  overflow: hidden;
  margin-top: 10px;
  height: auto;
}
section#bottom img {
  width: 600px;
}
article {
  width: 30%;
  float: left;
}
div {
  margin: 60px;
}
#bio {
  width: 50%;
}
#portrait {
  width: 250px;
  margin-left: 80px;
}
article:nth-child(1), article:nth-child(2) {
  margin-right: 5%;
}
article img, article h3, article ul {
  width: 75%;
  margin: 10px auto 5px auto;
  display: block;
}
ol {
  list-style-type: numeric;
  list-style-position: inside;
}
section#middle {
  height: 250px;
}