/* * {
  box-sizing: border-box;
} */
body {
  box-sizing: content-box;
  padding-top: 60px;
  padding-bottom: 40px;
}
#fixed-header, #fixed-footer {
  width: 100%;
  position: fixed;
  text-align: center;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
#fixed-header {
  font-size: 2em;
  top: 0;
}
#fixed-footer {
  bottom: 0;
}
.container {
  width: 80%;
  margin: auto;
}
/* .wrap {
  position: absolute;
} */
.inline {
  display: inline-block;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  
}
ol {
  list-style: numeric;
  list-style-position: inside;
}
img {
  
}
/* .wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
} */
/* .background {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */
/* header {
  
}
#portrait {
  padding-top: 2em;
  padding-left: 2em;
  width: 40%;
} */